.vs
bin
obj
txtlogs
*.user
*.pubxml
node_modules
/src/ClientApp/package-lock.json
/README.html
/src/ClientApp/dist
/src/ServerApi/.sonarqube
/src/ServerApi/.sonarlint
/src/ServerApi/Services/Adnc.Usr/Adnc.Usr.Migrations/Migrations
/src/ServerApi/Services/Adnc.Maint/Adnc.Maint.Migrations/Migrations
/src/ServerApi/Services/Adnc.Cus/Adnc.Cus.Migrations/Migrations
/src/ServerApi/Services/Adnc.Ord/Adnc.Ord.Migrations/Migrations
/src/ServerApi/Services/Adnc.Whse/Adnc.Whse.Migrations/Migrations
/src/ClientApp/target/npmlist.json
/src/ServerApi/.idea/.idea.Adnc/.idea/.gitignore
/src/ServerApi/.idea/.idea.Adnc/.idea/.name
/src/ServerApi/.idea/.idea.Adnc/.idea/encodings.xml
/src/ServerApi/.idea/.idea.Adnc/.idea/indexLayout.xml
/src/ServerApi/.idea/.idea.Adnc/.idea/vcs.xml
