.vs
bin
obj
txtlogs
*.user
*.pubxml
node_modules
/src/ClientApp/package-lock.json
/README.html
/src/ClientApp/dist
/src/ServerApi/.sonarqube
/src/ServerApi/.sonarlint
/src/ClientApp/target/npmlist.json
.idea
/src/ServerApi/.idea
/src/ServerApi/ServiceShared/.idea