.vs
bin
obj
txtlogs
*.user
*.pubxml
/README.html
/src/.sonarqube
/src/.sonarlint
.idea
/src/.idea
/src/ServiceShared/.idea
/src/ServerApi/.idea
/src/ServerApi/ServiceShared/.idea
/.env/adnc
/src/.vscode
