<?xml version="1.0" encoding="utf-8" ?>
<!--internalLogLevel 记录Nlog自身日志级别，正式环境改为Error
    autoReload="true" nlog.config配置文件修改，程序将会重新读取配置文件，也就是自动再配置
-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  throwExceptions="false"
	  throwConfigExceptions="true"
      internalLogLevel="Error"
      internalLogFile="${basedir}/internal-nlog.txt">
	<targets async="true">
		<target xsi:type="File" name="file"
			  fileName="${basedir}/projectlogs/${shortdate}/${level}-${shortdate}-${logger}.txt"
			  archiveFileName="${basedir}/archives/${level}-${shortdate}-${logger}-{#####}.txt"
			  archiveAboveSize="102400"
			  archiveNumbering="Sequence"
			  concurrentWrites="true"
			  keepFileOpen="false"
			  layout="${longdate}|${sequenceid}|${level}|${message}${onexception:|${exception:format=toString,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}|source=${logger}|env=${aspnet-environment}|remoteip:${aspnet-request-ip}|requestid=${aspnet-TraceIdentifier}">
		</target>
	</targets>
	<rules>
		<logger name="Adnc.*" minlevel="${configsetting:item=Logging.LogLevel.Adnc}" writeTo="file" />
		<logger name="Microsoft.*" minlevel="${configsetting:item=Logging.LogLevel.Microsoft}" writeTo="file" />
		<logger name="*" minlevel="${configsetting:item=Logging.LogLevel.Default}" writeTo="file" final="true"/>
	</rules>
</nlog>
