<?xml version="1.0" encoding="utf-8" ?>
<!--internalLogLevel 记录Nlog自身日志级别，正式环境改为Error
    autoReload="true" nlog.config配置文件修改，程序将会重新读取配置文件，也就是自动再配置
-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  throwExceptions="false"
	  throwConfigExceptions="true"
      internalLogLevel="Error"
      internalLogFile="${basedir}/internal-nlog.txt">
	  <extensions>
    <add assembly="NLog.Loki" />
  </extensions>
	<targets>
		<target name="console" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="ColoredConsole"
				useDefaultRowHighlightingRules="false"
				 layout="${longdate}|${sequenceid}|${level}|${message}${onexception:|${exception:format=toString,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}|source=${logger}|env=${aspnet-environment}|remoteip:${aspnet-request-ip}|requestid=${aspnet-TraceIdentifier}">
				<highlight-row condition="level == LogLevel.Debug" foregroundColor ="Blue" />
				<highlight-row condition="level == LogLevel.Info" foregroundColor ="Gray" />
				<highlight-row condition="level == LogLevel.Warn" foregroundColor ="Yellow" />
				<highlight-row condition="level == LogLevel.Error" foregroundColor ="Red" />
				<highlight-row condition="level == LogLevel.Fatal" foregroundColor ="Red" />
			</target>
		</target>
		<target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="File"
				  fileName="${basedir}/projectlogs/${shortdate}/${level}-${shortdate}-${logger}.txt"
				  archiveFileName="${basedir}/archives/${level}-${shortdate}-${logger}-{#####}.txt"
				  archiveAboveSize="102400"
				  archiveNumbering="Sequence"
				  concurrentWrites="true"
				  keepFileOpen="false"
				  layout="${longdate}|${sequenceid}|${level}|${message}${onexception:|${exception:format=toString,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}|source=${logger}|env=${aspnet-environment}|remoteip:${aspnet-request-ip}|requestid=${aspnet-TraceIdentifier}">
			</target>
		</target>
		<target xsi:type="loki" name="loki"
				  batchSize="200"
				  taskDelayMilliseconds="500"
				  endpoint="${configsetting:item=Loki.Endpoint}"
				  orderWrites="true"
				  compressionLevel="noCompression"
				  layout="${longdate}|${sequenceid}|${level}|${message}${onexception:|${exception:format=toString,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}|source=${logger}|env=${aspnet-environment}|remoteip:${aspnet-request-ip}|requestid=${aspnet-TraceIdentifier}">
			<!-- Loki requires at least one label associated with the log stream. Make sure you specify at least one label here. -->
			<label name="instanceid" layout="${local-ip}"/>
			<label name="app" layout="${configsetting:item=ServiceName}" />
			<label name="server" layout="${hostname:lowercase=true}" />
		</target>
	</targets>
	<rules>
		<logger name="Adnc.*" minlevel="${configsetting:item=Logging.LogLevel.Adnc}" writeTo="console,file,loki" />
		<logger name="Microsoft.*" minlevel="${configsetting:item=Logging.LogLevel.Microsoft}" writeTo="console,file,loki" />
		<logger name="*" minlevel="${configsetting:item=Logging.LogLevel.Default}" writeTo="console,file,loki" final="true"/>
	</rules>
</nlog>