<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
	<PropertyGroup>
		<DeleteExistingFiles>true</DeleteExistingFiles>
		<ExcludeApp_Data>false</ExcludeApp_Data>
		<LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<LastUsedPlatform>x64</LastUsedPlatform>
		<PublishProvider>FileSystem</PublishProvider>
		<PublishUrl>bin\Release\net6.0\publish\</PublishUrl>
		<WebPublishMethod>FileSystem</WebPublishMethod>
		<SiteUrlToLaunchAfterPublish />
		<TargetFramework>net6.0</TargetFramework>
		<RuntimeIdentifier>linux-x64</RuntimeIdentifier>
		<ProjectGuid>660c5ba1-b2f6-45ca-8ef0-cc760f0a4c0b</ProjectGuid>
		<SelfContained>false</SelfContained>
	</PropertyGroup>
</Project>