<?xml version="1.0" encoding="utf-8" ?>

<!--internalLogLevel 记录Nlog自身日志级别，正式环境改为Error
    autoReload="true" nlog.config配置文件修改，程序将会重新读取配置文件，也就是自动再配置
-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
      internalLogLevel="Error"
      internalLogFile="${basedir}/internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Loki" />
  </extensions>

  <!-- Loki target is async, so there is no need to wrap it in an async target wrapper. -->
  <!--https://nlog-project.org/config/?tab=layout-renderers-->
  <!--https://grafana.com/docs/loki/latest/logql/metric_queries/-->
  <!--https://github.com/corentinaltepe/nlog.loki-->
  <targets>
    <target
      name="loki"
      xsi:type="loki"
      batchSize="200"
      taskDelayMilliseconds="500"
      endpoint="${configsetting:item=Loki.Endpoint}" 
      orderWrites="true"
      compressionLevel="noCompression"
      layout="${sequenceid}|${level}|${message}${onexception:|${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}|source=${logger}|env=${aspnet-environment} ">
      <!-- Loki requires at least one label associated with the log stream. Make sure you specify at least one label here. -->
	  <label name="appinstance" layout="${local-ip}"/>
	  <label name="requestid" layout="${aspnet-TraceIdentifier}" />	
      <label name="app" layout="${configsetting:item=Consul.ServiceName}" />
      <label name="server" layout="${hostname:lowercase=true}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="loki" />
  </rules>

</nlog>